// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/




.student-table{
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    thead{
        width: 100%;
        display: flex;

        justify-content: space-between;
        .table-col{
            width: 300px;
            td{
                 width: 300px;
            }
        }
            .table-body{
                width: 100%;
                .table-col{
                    width: 300px;
                    // display: flex;
                    // justify-content: space-between;           
                    td{
                        width: 300px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
.profile_image{
    width: 50px;
    border-radius: 10px;
    height: 50px;
}